<div class="row mb-4">
    <div class="btn-group" name="messageContainer">
        <button 
            [(ngModel)]="messageContainer"
            (click)="loadMessages()"
            btnRadio="Unread"
            class="btn btn-primary" 
        >
            <i class="fa fa-envelope"></i>
            Unread
        </button>
        <button 
            [(ngModel)]="messageContainer"
            (click)="loadMessages()"
            btnRadio="Inbox"
            class="btn btn-primary" 
        >
            <i class="fa fa-envelope-open"></i>
            Inbox
        </button>
        <button 
            [(ngModel)]="messageContainer"
            (click)="loadMessages()"
            btnRadio="Outbox"
            class="btn btn-primary" 
        >
            <i class="fa fa-plane"></i>
            Outbox
        </button>
    </div>
</div>

<div 
    *ngIf="messages?.length === 0" 
    class="row"
>
    <h3>No messages...</h3>
</div>

<div 
    *ngIf="messages?.length > 0" 
    class="row"
>
    <table class="table table-hover" style="cursor: pointer;">
        <tr>
            <th style="width: 40%;">Message</th>
            <th style="width: 20%;">From / To</th>
            <th style="width: 20%;">Sent / Received</th>
            <th style="width: 20%;"></th>
        </tr>
        <tr 
            *ngFor="let message of messages" 
            routerLink="{{ messageContainer === 'Outbox' ? '/members/' + message.recipientUserName : '/members/' + message.senderUserName }}"
            [queryParams]="{ tab: 3 }"
            [hidden]="loading"
        >
            <td>{{ message.content }}</td>
            <td>{{ message.id }}</td>
            <td>
                <div *ngIf="messageContainer === 'Outbox'">
                    <img 
                        src="{{ message.recipientPhotoUrl || './assets/user.png' }}" 
                        alt="{{ message.recipientUserName }}" 
                        class="img-circle rounded-circle mr-2"
                    />
                    <strong>{{ message.recipientUserName | titlecase }}</strong>
                </div>

                <div *ngIf="messageContainer !== 'Outbox'">
                    <img 
                        src="{{ message.senderPhotoUrl || './assets/user.png' }}" 
                        alt="{{ message.senderUserName }}" 
                        class="img-circle rounded-circle mr-2"
                    />
                    <strong>{{ message.senderUserName | titlecase }}</strong>
                </div>
            </td>
            <td>{{ message.messageSent | timeago }}</td>
            <td>
                <button 
                    (click)="$event.stopPropagation()"
                    (click)="deleteMessage(message.id)"
                    class="btn btn-danger"
                >
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>

<div 
    *ngIf="pagination && !loading && this.messages?.length > this.pageSize"
    class="d-flex justify-content-center"
> 
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;"
    ></pagination>
</div>
